<header class="grid grid--middle">
	<div header-template class="3/4--desk grid__cell grid__cell--center header header__main header--middle header--center"></div>
</header>
<main class="grid grid--middle">
	<div class="3/4 grid__cell grid__cell--center">
		<h2 class="header--center" attach-lang translate>WINES_HEADER</h2>
		<div class="grid">
			<div ng-repeat="entry in app.thumbnails" ng-init="isLeft = !($index % 2)" ng-class="{'grid--rev': isLeft, 'wine-box--padding-top': $index != 0 }">
				<wine
				name="'PRODUCTS.' + entry.KEY + '.NAME'"
				img-src="entry.IMG_SRC"
				description="'PRODUCTS.' + entry.KEY + '.DESCRIPTION'"
				is-left="isLeft">
				</wine>
			</div>
		</div>
	</div>
	<div class="grid__cell vine">
		<img class="vine__svg" src="/img/wine_grape.svg">
		<div class="3/4 grid__cell grid__cell--center grid__cell--nested">
			<h2 attach-lang translate class="header--center">FIND_US</h2>
			<map></map>
		</div>
	</div>
	<div class="grid__cell">
		<p ng-click="app.switchLang('ge')" attach-lang>Switch language to GE</p>
		<p ng-click="app.switchLang('en')">Switch language to EN</p>
		<p ng-click="app.switchLang('ru')">Switch language to RU</p>
	</div>
</main>
<footer>
  <a ng-href="{{app.url}}" attach-lang translate>PARAGRAPH</a>
</footer>