@import "./_avalanche";
@import "~normalize.css/normalize.css";
@import "./fonts";
@import "./typography";
@import "./wine-box";

body {
  background: #FDFBFB;
  color: #281E00;
}

header {
  background: url(~/img/wineyard_header.jpg) no-repeat center center fixed;
  height: 100vh;
  background-size: cover;
}

.header {
  padding: 10px;
    &--main {
      color: #fff
    }
    &--wine-box {
      margin: 0.5em 0em 0.75em 0em;
    }
    &__middle {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &__center {
      text-align: center;
    }
}

.vine {
  width: 100%;
  position: relative;
  top: -2rem;
  @media screen and (min-width: 1025px) {
    top: -5rem;
  }
}

a {
  color: #03A9F4;
}

footer {
  text-align: center;
  font-size: 0.8em;
}