@import "./_avalanche";
@import "./~hamburgers/_sass/hamburgers/hamburgers";
@import "~normalize.css/normalize.css";
@import "~flag-icon-css/sass/_flag-icon";
@import "./fonts";
@import "./navigation";
@import "./typography";
@import "./wine-box";
@import "./map";
@import "./social";
@import "./contact";
@import "./scroller";
@import "./animation";
@import "./button";

body {
  background: #FDFBFB;
  color: #281E00;
  overflow-x: hidden;
}

header {
  background: url(~/assets/img/wineyard_header.jpg) no-repeat center center fixed;
  height: 100vh;
  background-size: cover;
}

.header {
  padding: 10px;
    &__main {
      color: #fff
    }
    &__wine-box {
      @media screen and (max-width: 1024px) {
        margin-top: 1rem;
      }
    }
    &--middle {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &--center {
      text-align: center;
    }
    &--no-margin-bottom {
      margin-bottom: 0;
    }
}

.show-more {
  display: flex;
  justify-content: center;
}

.pull-up {
  position: relative;
  padding-left: 20px;
  top: -2rem;
  @media screen and (min-width: 1025px) {
    top: -5rem;
  }
}
.vine {
  z-index: -1;

  &__svg {
    width: 100%;
  }
}

.grid__cell--nested {
  padding: 0px;
}

a {
  color: #03A9F4;
}

footer {
  text-align: center;
  font-size: 0.8em;
}
