.map {
	min-height: 30rem;
	@media screen and (max-width: 1024px) {
		min-height: 25rem;
	}
	&__directions {
		transition: visibility 0s, opacity 0.5s linear;
		&--hidden {
			visibility: hidden;
			opacity: 0;
		}
		&--visible {
			visibility: visible;
			opacity: 1;
		}	
	}
}