.map {
	min-height: 30rem;
	transform: translateX(-140%);

	&.active {
		transform: none;
	}

	@media screen and (max-width: 1024px) {
		min-height: 25rem;
	}
	&__directions {
		opacity: 0;

		&.active {
			opacity: 1;
		}
	}
}