.wine-box {
	&__image {
		width: 100%;
		border-radius: 10px;
	}
	&__details {
		text-align: center;
		@media screen and (min-width: 1025px) {
			text-align: left;
			&--left {
				padding-right: 6rem;
			}
			&--right {
				// padding of div + padding of image
				padding-left: calc(6rem + 20px);
			}
		}
	}
	&--padding-top {
		padding-top: 1.25rem;
		@media screen and (min-width: 1025px) {
			padding-top: 3rem;
		}
	}
}